<%= button_to 'Discover', "/users/#{@user.id}/discover", method: :get %>
<%= button_to 'Create a Viewing Party', "/users/#{@user.id}/discover", method: :get %>
<h4>Title: <%= @movie[:title] %></h4>
<h4>Vote Average: <%= @movie[:vote_average] %></h4>
<h4>Runtime: <%= @movie[:runtime]/60 %>h <%= @movie[:runtime]-((@movie[:runtime]/60)*60) %>m</h4>
<% @movie[:genres].each do |genre| %>
    <h4>Genre: <%= genre[:name] %></h4>
<% end %>
<% for i in 0..9 do %>
    <h4>Cast: <%= @credits[:cast][i][:name] %></h4>
<% end %>
<h5><%= @movie[:overview] %></h5>
<h4>Reviews: <%= @reviews[:results].count %></h4>
<% @reviews[:results].each do |review| %>
  <h5><%= "Author: #{review[:author]}" %></h5>
  <h5><%= "Information: #{review[:content]}" %></h5>
<% end %>